html {
  transform: matrix(0.2,0,0,0.2,-80,-210);
}

@media only screen and (min-width: 367px) {
  html {
    transform: matrix(0.36,0,0,0.36,-115,-170);
  }
}

@media only screen and (min-width: 384px) {
  html {
    transform: matrix(0.38,0,0,0.38,-115,-165);
  }
}

@media only screen and (min-width: 563px) {
  html {
    transform: matrix(0.56,0,0,0.56,-125,-115);
  }
}

@media only screen and (min-width: 1000px) {
  html {
    transform: scale(1);
  }
}

body {
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

main {
  height: 520px;
  width: 1000px;
  background-image: url(images/background.png);
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  padding: 10px 0px 10px 0px;
}

.export {
  width: 78px;
  height: 27px;
  position: relative;
  top: 63px;
  left: 792px;
  z-index: 99;
}

.import {
  width: 78px;
  height: 27px;
  position: relative;
  top: 36px;
  left: 890px;
  z-index: 99;
}

.exit {
  width: 95px;
  height: 46px;
  position: relative;
  top: 381px;
  left: 703px;
}

.next {
  width: 95px;
  height: 46px;
  position: relative;
  top: 335px;
  left: 813px;
}

.details {
  width: 489px;
  height: 306px;
  position: relative;
  top: -68px;
  left: 18px;
}

.label {
  width: 452px;
  height: 145px;
  position: relative;
  top: -385px;
  left: 528px;
  z-index: 1;
}

.exportLabel,
.importLabel,
.nextLabel,
.exitLabel,
.exportDetail,
.importDetail,
.nextDetail,
.exitDetail {
  display: none;
}

.exportLabel,
.importLabel,
.nextLabel,
.exitLabel {
  text-align: center;
  line-height: 145px;
  font-size: 50px;
}
